[Interface]
PrivateKey = {{ interface_private_key.stdout }}
Address = {{ interface_address }}
DNS = {{ interface_dns }}

[Peer]
PublicKey = {{ peer_publickey }}
Endpoint = {{ peer_endpoint }}
AllowedIPs = {{ peer_allowedips }}